.navbar {
    display: flex;
    justify-content: space-around;
    padding: 16px;
    box-shadow: 0 1px 3 px -2px black;
}

.nav-logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-logo img {
    height: auto;
    max-width: 100px;
    margin-left: 30px;
}

.nav-logo p {
    color: black;
    font-family: "Raleway", sans-serif;
    font-size: 40px;
    font-weight: 600px;
    cursor: pointer;
}

.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
    color: black;
    font-family: "Source Serif 4", serif;
    font-size: 16px;
    font-weight: 500px;
}

.nav-menu li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    cursor: pointer;
}

.nav-menu hr {
    border: none;
    width: 80%;
    height: 3px;
    border-radius: 10px;
    background: black;
}

.nav-login-cart {
    display: flex;
    align-items: center;
    gap: 45px;
}

.nav-login-cart img {
    display: inline-flex;
    width: 50px;
    height: auto;
    cursor: pointer;
}
   
